<mat-form-field  fxFlexAlign="end">
  <input color="accent" matInput type="number" (keydown)="keyDownFunction($event)"
         [formControl]="userAccountFormControl" placeholder="cuenta"
         class="quantity" required autofocus>
  <mat-error *ngIf="userAccountFormControl.hasError('pattern') && !userAccountFormControl.hasError('required')">
    Escribe una cuenta de 7 dígitos
  </mat-error>
  <mat-error *ngIf="userAccountFormControl.hasError('required')">
    Escribe una cuenta
  </mat-error>
  <mat-error *ngIf="!userAccountFormControl.hasError('pattern') && !userAccountFormControl.hasError('required') && userAccountFormControl.hasError('incorrect')">
    Escribe una cuenta válida
  </mat-error>
</mat-form-field>
<button mat-icon-button color="accent" (click)="authenticate()">
  <mat-icon> arrow_forward </mat-icon>
</button>
