 <!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Sistema Experto
  </h1>


  <mat-accordion>
    <mat-expansion-panel  *ngFor="let question of questions; index as i">
      <mat-expansion-panel-header>
        <mat-panel-title class="mat-h2">
          {{i}}. {{question.value}}
        </mat-panel-title>
        <mat-panel-description>
          ayuda: {{question.tooltip}}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-list>
        <mat-list-item *ngFor="let answer of question.answers; index as j">
          <mat-radio-button name="{{i}}"[value]="j">
            {{j}}. {{answer}}
          </mat-radio-button>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
</div>
