<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <span fxFlex></span>
    <span class="mat-title">Sistema Experto</span>
    <span fxFlex></span>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="56">

    <mat-sidenav-content fxLayout="column" fxLayoutAlign="center center">



      <router-outlet></router-outlet>




    </mat-sidenav-content>
  </mat-sidenav-container>
  <mat-toolbar *ngIf="finished" color="warn" class="example-toolbar" fxFlexAlign="end">
    <span fxFlex></span>
    <span  class="mat-title" background-color="warn">
      Total: {{total}}/{{numberOfQuestions}}
    </span>
    <span fxFlex></span>
    <button [disabled]="!allAnswered" mat-raised-button color="primary" (click)="finish()">{{buttonName}}</button>
    <span fxFlex></span>
  </mat-toolbar>
</div>
